In [64]:
import pandas as pd
import numpy as np
import matplotlib as plt
import statistics

In [237]:
xlsx = pd.ExcelFile('analiza.xlsx')

In [238]:
df1 = pd.read_excel(xlsx, 'bezrobocie') 
df2 = pd.read_excel(xlsx, 'placa_min') 
df3 = pd.read_excel(xlsx, 'paliwko') 
df4 = pd.read_excel(xlsx, 'mieszkanie ') 
df5 = pd.read_excel(xlsx, 'chleb')

In [239]:
df1.name = 'stopa bezrobocia'
df2.name = 'płaca minimalna'
df3.name = 'ceny paliw'
df4.name = 'ceny mieszkań'
df5.name = 'ceny art. gosp.'
df1.index = [df1[df1.columns[0]]]
df2.index = [df2[df2.columns[0]]]
df3.index = [df3[df3.columns[0]]]
df4.index = [df4[df4.columns[0]]]
df5.index = [df5[df5.columns[0]]]
del df1[df1.columns[0]]
del df2[df2.columns[0]]
del df3[df3.columns[0]]
del df4[df4.columns[0]]
del df5[df5.columns[0]]

In [200]:
# Wylicznie median

# func for medians
medians = []
def median(row, df):
    dict1 = {}
    for i in range(row, len(df.columns)):
        temp = []
        temp = df[df.columns[i]].tolist()
        temp = [x for x in temp if str(x) != 'nan']
        median1 = statistics.median(temp)
        dict1[df.columns[i]] = median1
    medians.append(dict1)
    
# one column
def median_one_column(num, df):
    medians2 = {}
    temp2 = df[df.columns[num]].tolist()
    temp2 = [x for x in temp2 if str(x) != 'nan']
    print(temp2)
    var = statistics.median(temp2)
    print(var)
    dict2 = {}
    dict2[f'{df.name}'] = var
    print(dict2)
    medians.append(dict2)

In [240]:
median(0, df5)
median(0, df1)
median_one_column(0, df2)
median_one_column(0, df3)
median_one_column(0, df4)

[2800.0, 2600.0, 2250.0, 2100.0, 2000.0, 1850.0, 1750.0, 1680.0, 1600.0, 1500.0, 1386.0, 1317.0, 1276.0, 1126.0, 936.0, 899.1, 849.0, 824.0, 800.0, 760.0, 700.0]
1386.0
{'płaca minimalna': 1386.0}
[4.68, 4.55, 5.2, 5.07, 4.57, 4.67, 3.98, 4.57, 5.39, 5.52, 5.63, 4.73, 3.95, 3.56, 4.11, 3.61, 3.7, 3.4]
4.57
{'ceny paliw': 4.57}
[7298, 7316, 7446, 7315, 7396, 7510, 7557, 7462, 7639, 7583, 7696, 7686, 7562, 7683, 7820, 7751, 7965, 8185, 8539, 8567, 8762]
7639
{'ceny mieszkań': 7639}

In [241]:
# prezentacja median
for i in medians:
    print(i)

{'ryż': 3.825, 'bułka': 0.47, 'chleb': 2.05, 'mąka': 2.1500000000000004, 'ziemniaki': 1.3, 'masło': 4.225, 'jaja': 0.485}
{'styczeń': 12.9, 'luty': 13.2, 'marzec': 13.0, 'kwiecień': 12.4, 'maj': 12.1, 'czerwiec': 11.7, 'lipiec': 11.5, 'sierpień': 11.4, 'wrzesień': 11.5, 'październik': 11.3, 'listopad': 11.4, 'grudzień': 11.4}
{'płaca minimalna': 1386.0}
{'ceny paliw': 4.57}
{'ceny mieszkań': 7639}
{'ryż': 3.825, 'bułka': 0.47, 'chleb': 2.05, 'mąka': 2.1500000000000004, 'ziemniaki': 1.3, 'masło': 4.225, 'jaja': 0.485}
{'styczeń': 12.4, 'luty': 12.55, 'marzec': 12.25, 'kwiecień': 11.75, 'maj': 11.399999999999999, 'czerwiec': 11.149999999999999, 'lipiec': 11.1, 'sierpień': 11.100000000000001, 'wrzesień': 11.2, 'październik': 11.2, 'listopad': 11.3, 'grudzień': 11.4}
{'płaca minimalna': 1386.0}
{'ceny paliw': 4.57}
{'ceny mieszkań': 7639}

In [242]:
# Średnia 
df1_mean = df1.mean(axis = 1, skipna = True, numeric_only = True)
df2_mean = df2.mean(axis = 1, skipna = True, numeric_only = True)
df3_mean = df3.mean(axis = 1, skipna = True, numeric_only = True)
df4_mean = df4.mean(axis = 1, skipna = True, numeric_only = True)
df5_mean = df5.mean(axis = 1, skipna = True, numeric_only = True)

In [243]:
df1_mean

rok/miesiąc
2020            5.890909
2019            5.433333
2018            6.075000
2017            7.275000
2016            8.941667
2015           10.483333
2014           12.325000
2013           13.533333
2012           12.800000
2011           12.391667
2010           12.108333
2009           10.966667
2008            9.816667
2007           12.691667
2006           16.191667
2005           18.191667
dtype: float64

In [244]:
df2_mean

x
2021-01-01    2800.0
2020-01-01    2600.0
2019-01-01    2250.0
2018-01-01    2100.0
2017-01-01    2000.0
2016-01-01    1850.0
2015-01-01    1750.0
2014-01-01    1680.0
2013-01-01    1600.0
2012-01-01    1500.0
2011-01-01    1386.0
2010-01-01    1317.0
2009-01-01    1276.0
2008-01-01    1126.0
2007-01-01     936.0
2006-01-01     899.1
2005-01-01     849.0
2004-01-01     824.0
2003-01-01     800.0
2001-01-01     760.0
2000-03-01     700.0
dtype: float64

In [245]:
df3_mean

x
2021-01-14 – 2021-01-21    4.68
2020-12-31 – 2021-01-07    4.55
2019-12-26 – 2020-01-02    5.20
2018-12-27 – 2019-01-03    5.07
2017-12-28 – 2018-01-04    4.57
2016-12-29 – 2017-01-05    4.67
2015-12-31 – 2016-01-07    3.98
2014-12-26 – 2015-01-02    4.57
2013-12-27 – 2014-01-03    5.39
2012-12-28 – 2013-01-04    5.52
2011-12-30 – 2012-01-06    5.63
2010-12-29 – 2011-01-05    4.73
2009-12-31 – 2010-01-07    3.95
2008-12-11 – 2008-12-18    3.56
2007-12-27 – 2008-01-03    4.11
2006-12-28 – 2007-01-04    3.61
2005-12-30 – 2006-01-06    3.70
2004-12-30 – 2005-01-06    3.40
dtype: float64

In [246]:
df4_mean

x
2000    7298.0
2001    7316.0
2002    7446.0
2003    7315.0
2004    7396.0
2005    7510.0
2006    7557.0
2007    7462.0
2008    7639.0
2009    7583.0
2010    7696.0
2011    7686.0
2012    7562.0
2013    7683.0
2014    7820.0
2015    7751.0
2016    7965.0
2017    8185.0
2018    8539.0
2019    8567.0
2020    8762.0
dtype: float64

In [247]:
df5_mean

Unnamed: 0
2005          1.412857
2006          1.521429
2007          1.621429
2008          1.712857
2009          1.841429
2010          1.971429
2011          2.005714
2012          2.082857
2013          2.175714
2014          2.232857
2015          2.314286
2016          2.330000
2017          2.372857
2018          2.428571
2019          2.451429
2020          2.497143
dtype: float64

In [248]:
# max i min
df1_max = df1.max(axis = 0)
df1_min = df1.min(axis = 0)

df2_max = df2.max(axis = 0)
df2_min = df2.min(axis = 0)

df3_max = df3.max(axis = 0)
df3_min = df3.min(axis = 0)

df4_max = df4.max(axis = 0)
df4_min = df4.min(axis = 0)

df5_max = df5.max(axis = 0)
df5_min = df5.min(axis = 0)

In [249]:
# rozstęp
df1_diff = df1_max - df1_min
df2_diff = df2_max - df2_min
df3_diff = df3_max - df3_min
df4_diff = df4_max - df4_min
df5_diff = df5_max - df5_min

In [259]:
# korelacja

list1 = df1[df1.columns[0]].tolist()
list2 = df2[df2.columns[0]].tolist()
list3 = df3[df3.columns[0]].tolist()
list4 = df4[df4.columns[0]].tolist()
list5 = df5[df5.columns[0]].tolist()
list1 = list1[:16]
list2 = list2[:16]
list3 = list3[:16]
list4 = list4[:16]
list5 = list5[:16]

dict_corr = {
    'płaca min': list2,
    'stopa bezrobocia': list1,
    'paliwo' : list3,
    'mieszkania': list4,
    'ceny art.gosp.' : list5
}
df_corr = pd.DataFrame(dict_corr)

In [261]:
df_corr.corr()

,płaca min,stopa bezrobocia,paliwo,mieszkania,ceny art.gosp.
płaca min,1.000000,-0.890068,0.360225,-0.923746,-0.930881
stopa bezrobocia,-0.890068,1.000000,-0.434989,0.833878,0.862818
paliwo,0.360225,-0.434989,1.000000,-0.246888,-0.215915
mieszkania,-0.923746,0.833878,-0.246888,1.000000,0.842602
ceny art.gosp.,-0.930881,0.862818,-0.215915,0.842602,1.000000